body, div, canvas {
    margin: 0;
    padding: 0;
}
body {
	font-size: 18px;
	overflow: hidden;
}

#playContainer {
	z-index: 1;
	position: absolute;
	width: 200px;
	height:100%;
	background-color: #fff;
}

#threeJSContainer {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}