body, div, canvas {
    margin: 0;
    padding: 0;
}
body {
	overflow: hidden;
}
body, button, select {
	font-family: Georgia, serif;
	font-size: 12pt;
		color: #474747;
}
h1 {
	font-size: 25px;
	font-weight: bold;
}
h2 {
	font-size: 18px;
	font-weight: normal;
}
button {
	margin-bottom: 15px;
}
canvas {
    position: fixed;
}
input {
	width: 170px;
}
a {
	text-decoration: none;
}
#playContainer {
	z-index: 1;
	position: absolute;
	width: 200px;
	height:100%;
	background-color: #fff;
	padding-left: 15px;
}
#threeJSContainer {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}
#description {
	position: absolute;
	left: 1;
	bottom: 0;
}